In [ ]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import statsmodels.api as sm

In [ ]:
%cd '/content/drive/MyDrive/ML-DL/CodeGym'
!ls

/content/drive/MyDrive/ML-DL/CodeGym
house_price_Dống-Da_Hà-Nội_subdata.csv	Untitled0.ipynb
OnlineRetail.csv			Untitled1.ipynb

In [ ]:
df = pd.read_csv('house_price_Dống-Da_Hà-Nội_subdata.csv', encoding="latin1")
df.head(3)

,area,price,postDate,land_certificate,house_direction,balcony_direction,toilet,bedroom,floor,lat,long,property_type
0,50.0,14700.0,44197,So do,NaN,NaN,4.0,6.0,6.0,21.015698,105.824583,trong ngo
1,57.0,4200.0,44265,So do,Nam,Nam,3.0,8.0,4.0,21.025208,105.833111,trong ngo
2,62.0,11000.0,44268,So do,NaN,dong-Nam,6.0,5.0,6.0,21.025379,105.801011,trong ngo

In [ ]:
# Số lượng dòng và cột của bộ dữ liệu
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 671 entries, 0 to 670
Data columns (total 12 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   area               665 non-null    float64
 1   price              617 non-null    float64
 2   postDate           671 non-null    int64
 3   land_certificate   369 non-null    object
 4   house_direction    42 non-null     object
 5   balcony_direction  24 non-null     object
 6   toilet             240 non-null    float64
 7   bedroom            320 non-null    float64
 8   floor              366 non-null    float64
 9   lat                671 non-null    float64
 10  long               671 non-null    float64
 11  property_type      671 non-null    object
dtypes: float64(7), int64(1), object(4)
memory usage: 63.0+ KB

In [ ]:
df1 = df[(df['land_certificate'] == 'So do') & (df['bedroom'] >= 3)]
df2 = df1.filter(['price', 'house_direction', 'balcony_direction'])
df2.head()

     price house_direction balcony_direction
0  14700.0             NaN               NaN
1   4200.0             Nam               Nam
2  11000.0             NaN          dong-Nam
3   2900.0             NaN               NaN
6   5280.0         Tay-Nam               NaN

In [ ]:
df.groupby('property_type')['price'].mean()

property_type
mat pho      69209.237619
trong ngo     8143.431450
Name: price, dtype: float64

In [ ]:
df.groupby('property_type')['price'].max()

property_type
mat pho      3300000.0
trong ngo     120000.0
Name: price, dtype: float64

In [ ]:
df.groupby('property_type')['price'].min()

property_type
mat pho        4.5
trong ngo    450.0
Name: price, dtype: float64